<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
  </head>
  <body>
    <h1>Users#index</h1>
    <p>Find me in app/views/users/index.html.erb</p>
    <p>New Placeholder: Number of posts</p>
</html>
