<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
  </head>
  <body>
    <h1>Users#show</h1>
    <p>Find me in app/views/users/show.html.erb</p>
    <p>New Placeholder: Bio</p>
  </body>
</html>
