/* Post Show styles */
.open-post-flex {
  display: flex;
  margin-top: 20px;
}

.open-post {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
}

.open-comment {
  margin-top: 10px;
}

a {
  text-decoration: none;
}
